html{
    background-color: blueviolet;
}

h1{
    color:#EFBC9B;
    background-color: black;
    
}

h2{
    color: #FBF3D5;
    background-color: black;
}

h3{
    color: #9CAFAA;
    background-color: black;
}
